.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;

  @include media-down(lg) {
    z-index: 1000;
    opacity: 1;
  }

  .logo {
    letter-spacing: 5px;

    a {
      display: block;
    }

    h1 {
      display: block;
      height: 100%;
      margin: 0;
      font-family: 'Poiret One', cursive;
      font-weight: 900;
      line-height: 100px;
    }
  }

  &-menu {
    &-item {
      a {
        display: block;
        padding: 38px 35px;
        font-weight: 700;
        color: $black;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &-social {
    line-height: 100px;

    @include media-down(md) {
      display: none;
    }
  }

  .fa-icon {
    color: $black;
  }

  .list-item {
    padding: 0 10px;
  }
}

.show {
  z-index: 2000;
  opacity: 1;
}
