.form-item {
  margin: 30px 0;

  input {
    border: 1px solid $primary;

    &:disabled {
      background-color: #cecece;
    }
  }

  select {
    border: 1px solid $primary;

    &:disabled {
      background-color: #cecece;
    }
  }

  textarea {
    border: 1px solid $primary;

    &:disabled {
      background-color: #cecece;
    }
  }
}

.btn-group {
  .col-md-6 {
    padding: 0;

    &:nth-of-type(1) {
      padding-right: 10px;

      @include media-down(sm) {
        padding-right: 0;
      }
    }

    &:nth-of-type(2) {
      padding-left: 10px;

      @include media-down(sm) {
        padding-left: 0;
      }
    }
  }
}
