.order-summary {
  padding: 20px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;

  @include media-down(lg) {
    padding: 0 0 50px 0;
  }

  .btn {
    @include media-down(md) {
      padding: 30px;
    }

    @include media-down(sm) {
      padding: 30px;
    }
  }
}

.cart {
  &-item {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid $primary;

    .col-md-8 {
      @include media-down(sm) {
        padding-right: 0;
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    div {
      align-self: center;
    }
  }

  &-detail {
    display: flex;
  }

  &-pic {
    padding: 15px 15px 15px 0;

    img {
      width: 150px;
      height: 150px;

      @include media-down(sm) {
        width: 75px;
        height: 75px;
      }
    }
  }

  &-prduct {
    padding-left: 50px;

    @include media-down(sm) {
      padding: 0;
    }
  }

  &-price-total {
    margin-right: auto;
    font-size: 1.5rem;

    @include media-down(sm) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &-price {
    padding-left: 20px;
    margin-left: auto;
    font-size: 20px;

    @include media-down(sm) {
      padding-left: 10px;
    }
  }

  &-function {
    display: flex;

    @include media-down(sm) {
      flex-direction: row-reverse;
    }
  }

  &-footer {
    padding: 50px 0;
    font-size: 1.5rem;
    border-top: 1px solid $primary;

    &-total {
      display: flex;

      @include media-down(md) {
        flex-direction: row-reverse;
      }
    }

    &-pricetotal {
      margin-right: auto;

      @include media-down(md) {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
