.btn {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: $white;
  background: $primary;
  border: 2px solid $primary;
  border-radius: 5px;
  transition: all 0.6s;

  &-outline {
    color: $primary;
    background: transparent;

    &:hover {
      color: $white !important;
      background: $primary !important;
      border: 2px solid $primary !important;
    }
  }

  &:hover {
    color: $primary;
    background: transparent;
  }

  &-big {
    padding: 20px 117px;
  }

  &-sm {
    padding: 0 10px;
    font-size: 16px;
  }

  &-icon {
    background: transparent;
    border-radius: 10px;

    &:hover {
      color: $white;
      background: $white;
    }
  }

  &.disabled,
  &:disabled {
    color: $gray-300;
    pointer-events: none;
    background-color: $white;
    border-color: $gray-300;
  }

  &-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-input {
    width: 50px;
    border: 2px solid $primary;
    border-radius: 0;
  }
}
