.page-enter-active {
  transition: opacity 1.5s;
}

.page-leave-active {
  position: absolute;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-to,
.page-leave {
  opacity: 1;
}

.slide-next-leave-active,
.slide-next-enter-active,
.slide-prev-leave-active,
.slide-prev-enter-active {
  transition: 1s;
}

.slide-next-enter,
.slide-prev-leave-to {
  transform: translate(100%, 0);
}

.slide-next-leave-to,
.slide-prev-enter {
  transform: translate(-100%, 0);
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(-300px);
}

.list-move {
  transition: all 0.6s ease;
}

.list-leave-active {
  position: absolute;
}

.msg-enter-active,
.msg-leave-active {
  transition: all 0.1s;
}

.msg-enter,
.msg-leave-to {
  opacity: 0;
  transform: translateX(0);
}

.msg-move {
  transition: all 0.6s ease;
}

.msg-leave-active {
  transform: translateX(500px);
}
