.time-horizontal {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 300px 0 0;
  list-style-type: none;
  border-top: 1px solid $theme;

  li {
    position: relative;
    width: 33.3333%;
    padding-top: 10px;
    color: $primary;
    text-align: center;

    @include media-down(sm) {
      width: 100%;
    }

    &:nth-of-type(1),
    &:nth-of-type(3) {
      @include media-down(sm) {
        display: none;
      }
    }

    &:nth-of-type(1) .year,
    &:nth-of-type(3) .year {
      position: relative;
      top: -200px;
      left: -10px;
      font-size: 120px;
      opacity: 0.6;

      @include media-down(sm) {
        display: none;
      }
    }

    &:nth-of-type(2) .year {
      position: relative;
      top: -250px;
      left: -10px;
      font-size: 120px;

      @include media-down(sm) {
        top: -200px;
        left: 0;
        font-size: 60px;
      }
    }

    b::before {
      position: absolute;
      top: -15px;
      left: 47%;
      width: 30px;
      height: 30px;
      content: "";
      background: $primary;
      border: 2px solid $primary;
      border-radius: 50%;

      @include media-down(sm) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.time-content {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 24px;
  color: $primary;

  p {
    width: 370px;

    @include media-down(sm) {
      margin-top: 100px;
      font-size: 18px;
    }
  }
}

.about {
  &-pic {
    left: 41.5%;
    background-image: url('~@/assets/images/about.jpg');
    filter: none;

    @include media-down(md) {
      left: 0;
      filter: brightness(50%);
    }
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: $primary;

    @include media-down(md) {
      color: $white;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 0 20px 0 50px;
      content: "";
      background: $primary;
      opacity: 0.1;
    }

    p {
      padding-right: 30px;
      padding-left: 100px;

      @include media-down(md) {
        padding: 30px;
        font-size: 20px;
      }
    }

    span {
      position: absolute;
      top: -48px;
      left: -25px;
      font-size: 64px;
      font-weight: 700;
      color: $primary;
      opacity: 0.6;
      transform: rotate(90deg);
    }
  }
}
