.list-hot {
  padding-bottom: 0;

  .list {
    margin: 0;
  }

  &::after {
    background-color: transparent;
  }
}

div:focus {
  outline: none;
}

.slick-prev::before,
.slick-next::before {
  color: $primary;
}

.slick-prev {
  @include media-down(sm) {
    left: -10px;
  }
}

.slick-next {
  @include media-down(sm) {
    right: -10px;
  }
}
