.banner-block {
  position: relative;
  height: 79vh;

  @include media-down(lg) {
    height: 90vh;
  }

  @include media-down(md) {
    height: 90vh;
  }

  @include media-down(sm) {
    height: 100vh;
  }

  @at-root .banner {
    position: absolute;
    top: -207px;
    right: 0;
    bottom: 100px;
    left: 170px;
    z-index: -1;
    background: url("~@/assets/images/banner.jpg") no-repeat center center;
    background-size: cover;

    @include media-down(lg) {
      left: 100px;
    }

    @include media-down(sm) {
      bottom: 0;
      left: 50px;
    }

    &-text {
      position: absolute;
      font-size: 80px;
      font-weight: 900;
      color: $white;
      letter-spacing: 5px;

      @include media-down(sm) {
        display: none;
      }

      &:nth-of-type(1) {
        top: 32%;
        left: 21%;
      }

      &:nth-of-type(2) {
        top: 45%;
        left: 21%;
      }
    }
  }
}

.carousel {
  &-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: calc(100% - 100px);
    font-size: 20px;

    @include media-down(lg) {
      width: 100px;
      margin-top: 100px;
    }

    @include media-down(sm) {
      width: 50px;
      height: inherit;
      margin-top: 0;
    }

    &-text {
      display: inline-block;
      width: 20px;
      word-wrap: break-word;
    }
  }
}

.banner-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 565px);
  height: 100px;
  line-height: 100px;

  @include media-down(lg) {
    width: calc(100% - 200px);
  }

  @include media-down(sm) {
    position: absolute;
    bottom: 0;
  }

  &-box {
    width: 170px;
    color: $white;
    text-align: center;
    background: $primary;

    @include media-down(lg) {
      width: 100px;
      color: $primary;
    }

    @include media-down(sm) {
      display: none;
    }
  }

  &-line {
    position: relative;

    @include media-down(sm) {
      display: none;
    }

    &::before {
      position: absolute;
      bottom: 10px;
      left: -215px;
      z-index: -1;
      width: 200px;
      height: 1px;
      content: "";
      border-bottom: 1px solid $primary;
    }
  }

  &-more {
    position: absolute;
    right: -565px;
    bottom: 0;
    width: 565px;
    height: 200px;
    line-height: 200px;
    color: $white;
    cursor: pointer;
    background: $primary;

    @include media-down(lg) {
      right: -200px;
      display: flex;
      width: 200px;
    }

    @include media-down(sm) {
      right: 0;
      left: 0;
      height: 100px;
      line-height: 100px;
    }

    a {
      @include media-down(lg) {
        display: none;
      }
    }

    span {
      margin-left: 50px;
    }

    &-click {
      @include media-down(lg) {
        margin: 0 auto;
      }

      a:hover {
        color: $white !important;
      }
    }
  }
}
