.header {
  z-index: 1;
  display: flex;
  width: 70.5%;
  background: transparent;
  background: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);

  @include media-down(lg) {
    display: none;
  }

  .logo {
    letter-spacing: 5px;

    h1 {
      margin-bottom: 0;
      font-family: 'Poiret One', cursive;
      font-weight: 900;
      line-height: 200px;
    }
  }

  &-menu {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    background: #fff;

    &-item {
      &:last-child {
        padding-right: 65px;
      }

      a {
        display: block;
        padding: 88px 35px;
        font-weight: 700;
        color: $black;

        &.router-link-exact-active {
          color: $primary;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .social {
    position: absolute;
    right: 0;

    .list-item {
      a {
        display: block;
        padding: 83px 10px;
      }
    }
  }
}
